@use "styles/mixins" as *;

.Flickity-container {
  @include flex;
  // @include box-dim(100%, 500px);
  height: 500px;
  @include position(absolute, $top: 33%);
  padding-left: 20%;
  .inner-carousel {
    @include box-dim;
    z-index: 3;
    & .flickity-viewport {
      // height: 100% !important;
      & .flickity-slider {
        transform: translateX(20.72%);
        @include flex;
      }
    }
  }
}
